<style>
.usp_heading{
  text-align:center;
}
.product-usp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-usp {
  text-align: center;
  width: calc(20% - 20px); /* Adjust as needed */
  margin: 10px; /* Adjust spacing between USPs */
}

.product-usp img {
  width: 100%;
  height: auto;
}

.usp-title {
  margin-top: 10px; /* Adjust spacing between image and title */
  font-size: 1.2rem; /* Adjust font size as needed */
}

@media screen and (max-width: 768px) {
  .product-usp {
    width: calc(50% - 20px); /* Adjust as needed for two items per row */
  }
}

@media screen and (max-width: 480px) {
  .product-usp {
    width: calc(50% - 20px); /* Adjust as needed for one item per row */
  }
}
  
</style>

{% assign UspIcons = product.metafields.custom.product_usp.value %}
{% assign UspTitles = product.metafields.custom.usp_titles.value %}

<div class="usp_box">
  <div class="usp_heading">
    <h1>{{ section.settings.product_usp_heading }}</h1>
  </div>
  <div class="product-usp-container">
    {% for im in UspIcons %} 
      
      <div class="product-usp">
        {{ im | image_url: width: auto | image_tag }}
        <h3 class="usp-title">usp title</h3>
      </div>
{% endfor %}
   
  </div>
</div>
{% for ti in UspTitles %}
  <h3 class="usp-title">{{ ti }}</h3>
  {% endfor %}



{% schema %}
{
  "name": "Product USP",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "product_usp_heading"
    }
  ],
  "presets": [
    {
      "name": "Product USP"
    }
  ]
}
{% endschema %}
